{
    "presets": [
        // compiling modern js to older browsers (as defined in our browser support matrix)
        "@babel/env",
        // compiling react to ES5
        "@babel/react",
        // compiling typescript to javascript
        "@babel/preset-typescript"
    ]
}