{
    "presets": [
        // for compiling modern js to older browsers (as defined in our browser support matrix)
        "@babel/env",
        // for compiling react to ES5
        "@babel/react"
    ]
}